<div class = "container mt-3">
  <div class = "row">

     <%= render "users/left_bar",user:@user,book:@book %>

    <div class = "col-8">
      <h1>Users</h1>
      <table class = "table">
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
        <% @users.each do |user|%>
        <tr>
          <td><%= attachment_image_tag user,:profile_image,size:"25x25",fallback:"image/person.jpeg"%></td>
          <td><%= user.name %></td>
          <td><%= link_to "Show",user_path(user.id)%></td>
        </tr>
        <%end%>
      </table>
    </div>

  </div>
</div>